{% extends 'base.html' %}

{% block navigation %}
<ul class="collection-root">
  <li><i class="far fa-folder-open"></i>
    <a href="{{ url_for('view.show_collections') }}">[root]</a> /
    <i class="far fa-folder-open"></i>
    <a href="{{ url_for('view.show_collection', collection=collection) }}">{{ collection }}</a>
  </li>
  <ul class="document-listing">
{% if not documents %}
[empty]
{% endif %}
{% for d in documents %}
    <li><i class="far fa-file"></i>
      <a href="{{ url_for('view.show_alternative_annotations', collection=collection, document=d) }}">{{ d }}</a></li>
{% endfor %}
  </ul>
</ul>
{% endblock %}
